<div class='index-view'>
  <h1>Manage Holidays</h1>
  <%= will_paginate %>
  <ul class='custom-holiday'=>
    <%= link_to "Create new holiday", "/holidays/new",
                      :class => 'btn btn-success',
                      :id => 'new-button' %>
      <% @holidays.each do |h| %>
        <li>
          <%= "#{h.country}: #{h.name} #{h.date}" %>
          <%= link_to "Edit", "/holidays/#{h.id}/edit",
                      :class => 'btn btn-primary edit-delete' %>
          <%= link_to "Delete", "/holidays/#{h.id}",
                      :class => 'btn btn-danger edit-delete',
                      :method => :delete,
                      :data => { :confirm => 'Delete Holiday?' } %>
        </li>
      <% end %>
  </ul>
</div>
