<div class='index-view'>
  <h1>Manage Holidays</h1>
  <%= will_paginate %>
  <ul class='custom-holiday'=>
    <%= link_to "Create new holiday", "/holidays/new",
                      :class => 'btn btn-success',
                      :id => 'new-button' %>
      <% @holidays.each do |h| %>
        <li>
          <%= "#{h.country} - " %>
          <%= link_to "#{h.name}: ", "/#{h.name}/#{h.country}/#{h.date[-4,4]}"%>
          <%= link_to "#{h.date}", "/days/#{h.date}" %>
          <div class='edit-delete'>
            <%= link_to "Edit", "/holidays/#{h.id}/edit",
                        :class => 'btn btn-primary' %>
            <%= link_to "Delete", "/holidays/#{h.id}",
                        :class => 'btn btn-danger',
                        :method => :delete,
                        :data => { :confirm => 'Delete Holiday?' } %>
          </div>
        </li>
      <% end %>
  </ul>
</div>
