<section>
  <div id='left'>
    <h4><%= "Past/Future occurrences of #{@holiday} in #{@country}" %></h4>
    <ul>
      <% @year_occurrences.each do |h| %>
        <li>
          <% date = h[0].split("-").reverse.join("-")%>
          <%= link_to date, "/#{date}" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div id='right'>
    <h4><%= "International occurrences of #{@holiday}" %></h4>
    <ul>
      <% @country_occurences.each do |h| %>
        <li>
          <% date = h["date"].split("-").reverse.join("-") %>
          <%= "#{h["country"]}: " %>
          <%= link_to date, "/#{date}" %>
        </li>
      <% end %>
    </ul>
  </div>
</section>
