<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>Track 'dem Holidays</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid" id="header">
        <div class="navbar-header">
          <%= link_to "Holiday Tracker", root_path, :class => "navbar-brand", :id => 'logo'%>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href='/holidays'>Admin</a></li>
            <li><a href="#">Sys Admin</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <div id='footer'>
      <a href='#'>View on GitHub</a>
      <p>
        Holiday Tracking Application by Alfonso Merkl
      </p>
    </div>

  </body>
</html>
